.header {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  height: 48;
}

.header__burger-menu {
  width: 40px;
  height: 40px;
  background-image: url(../assets/Menu.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  padding: 1rem; 
}

.header__checkbox-button:checked ~ * .header__burger-menu,
.header .flex-container span:hover {
  background-image: url(../assets/opened-burger.png);
  background-repeat: no-repeat;
  background-position: center;
}

.header .flex-container label:hover,
.header__checkbox-button:checked ~ label 
{
  background:var(--blue-gradient);
}

/* .header__checkbox-button:checked ~ * .header__burger-menu {
  z-index: 2;
} */

.header .flex-container {
  position: relative;
}

.header__category-list {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.header__checkbox-button:checked ~ .header__category-list {
  display: block;
  
}

.header .flex-container #menu {
  display: none;
}

.header__list-title,
.header__list-item {
  padding: 1em;
  background-color: var(--white);
}

.header__list-title {
  color: var(--orange);
  font-family: 'Poppins', sans-serif;;
  font-size: 1rem;
  font-weight: 700;
}

.header .header__category-list .header__list-item a{
  font-family: 'Poppins', sans-serif;;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blue-gradient);
  line-height: 1.5rem;
}



