.header {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  max-width: 380px;
  height: 48;
  padding: 1rem 1.5rem;
}

.header__burger-menu {
  width: 40px;
  height: 40px;
  background-image: url(../assets/Menu.png);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header .flex-container {
  position: relative;
}

.header__category-list {
  display: none;
  position: absolute;
  top: 100%;
  
}

.header__checkbox-button:checked ~ .header__category-list{
  display: block;
  
}

